.alerts-header {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.alerts-header h2 {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.alerts-header p {
    margin: 0.5rem;
    color: #5f6c7b;
    font-size: 1rem;
    line-height: normal;
    margin-top: 0;
}

/* .footer-item {
    display: flex;
    gap: 1.2rem;
    font-size: 1rem;
    color: #1e293b;
} */

.alert-types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    gap: 1.5rem;
}

.alert-low-pressure {
    background-color: rgb(198, 251, 198);
    border: 0.05rem solid green;
    border-radius: 25%;
}

.alert-leak-detected {
    background-color: rgb(243, 224, 187);
    border: 0.05rem solid #b8860b;
    border-radius: 25%;
}

.alert-unequal-distribution {
    background-color: rgb(250, 175, 175);
    border: 0.05rem solid red;
    border-radius: 25%;
}

.alert-low-pressure,
.alert-leak-detected,
.alert-unequal-distribution {
    font-weight: 500;
    padding: 0.2rem 0.4rem;
    margin: 0 0.75rem;
    width: fit-content;
    text-align: center;
    height: fit-content;
}

.alert-types > div {
  transition: transform 0.2s ease;
}

.alert-types > div:hover {
  transform: translateY(-4px);
}


@media (max-width: 900px) {
  .alert-types {
    flex-direction: column;
    gap: 1rem;
  }
}


